{% extends 'base.html.twig' %}

{% block title %} DaddyPack | Accueil {% endblock %}

{% block body %}
<header>
        <div class="header_content">
            <div class="header_logo">
                <img src="{{ asset('img/logo.png') }}" class="header_logo_img" alt="Daddy's Pack">
                <h1>Daddy <strong class="header_logo_strong">Pack</strong></h1>
            </div>
            <ul class="header_list">
                <li class="header_list_item">
                    <a href="/register">Inscription</a> 
                </li>
                <li class="header_list_item">
                    <a href="/login">Connexion</a> 
                </li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <section class="intro section">
            <div class="intro_content">
                <h2 class="title">Ne vous préoccupez plus de vos livraisons Amazon</h2>
                <h3>Nos Daddy's récupèrent vos colis et vous les livres <strong>où vous voulez</strong></h3>
                <h4>En partenariat avec Amazon</h4>
                <div class="intro_cta_content">
                    <span class="intro_cta register">En savoir plus</span>
                    <span class="intro_cta">S'inscrire</span>
                </div>
            </div>
        </section>
        <section class="services section">
            <div class="services_content">
            <h2>Comment ça marche ?</h2>
                <ul class="services_list">
                    <li class="services_list_item">
                        <img src="{{ asset('img/amazon.png') }}" alt="amazon"/>
                        <p class="services_list_item_txt txt">
                            Passez votre commande sur <strong>Amazon</strong>
                        </p>
                    </li>
                    <li class="services_list_item">
                        <img src="{{ asset('img/box.png') }}" alt="daddy's pack"/>
                        <p class="services_list_item_txt txt">
                            Sélectionnez <strong>Daddy's Pack</strong> comme mode de livraison
                        </p>
                    </li>
                    <li class="services_list_item">
                        <img src="{{ asset('img/delivery.png') }}" alt=""/>
                        <p class="services_list_item_txt txt">
                            Votre <strong>Daddy</strong> vient vous livrer&nbsp;!
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- <div class="transition">
            <h2>En partenariat avec Amazon</h2>
        </div>-->
        <section class="join section">
            <div class="join_content">
                <div class="join_user join_cta">
                    <img src="{{ asset('img/box.png') }}" alt="">
                    <h2>
                        <a href="" class="join_link link">Les avantages de Daddy's Pack</a> 
                    </h2>
                    <p class="join_txt">
                        Daddy's Pack vous offre un service de  <strong>qualité</strong> vous permettant d'etre livré <strong>où vous voulez</strong>, <strong>quand vous voulez</strong>, par un livreur de confiance qui se met à votre entière dispositon jusqu'a ce que le colis soit entre vos  mains.
                    </p>
                    <p class="join_txt">
                        Nous garentissons l'état de votre colis grâce à notre partenaire <a href="http://www.gan.fr/" target="_blank" alt="Gan assurance">Gan Assurances</a>
                    </p>
                </div>
                <div class="join_daddy join_cta">
                    <img src="{{ asset('img/daddy.png') }}" alt="">
                    <h2>
                        <a href="" class="join_link link">Devenez Daddy</a> 
                    </h2>
                    <p class="join_txt txt">
                        En devenant daddy, vous devenez votre propre patron. Recevez un revenu immédiat et travaillez selon vos disponnibilités. </p>
                        <p class="join_txt">
                            Si vous souhaitez prendre part à l'aventure Daddy, <a href="#" alt="rejoignez le service">rejoignez-nous !</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="opinions section">
            <div class="opinions_content">
                <h2>Ils parlent de nous :</h2>
                <ul class="opinions_list">
                    <li class="opinions_list_item">
                        <img src="{{ asset('img/user2.jpg') }}" alt="" class="opinions_list_item_pict">
                        <p class="opinions_list_item_txt txt">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                        </p>
                        <span class="opinions_list_item_author">
                            Jérome 23 ans étudiant
                        </p>
                    </li>
                    <li class="opinions_list_item">
                        <img src="{{ asset('img/user3.jpg') }}" alt="" class="opinions_list_item_pict">
                        <p class="opinions_list_item_txt txt">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                        </p>
                        <span class="opinions_list_item_author">
                            Sarah 33 ans avocate
                        </p>
                    </li>
                    <li class="opinions_list_item">
                        <img src="{{ asset('img/user1.jpg') }}" alt="" class="opinions_list_item_pict">
                        <p class="opinions_list_item_txt txt">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                        </p>
                        <span class="opinions_list_item_author">
                            Marc 67 ans retraité
                        </span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact section">
            <div class="contact_content">
                <p class="contact_content_txt">Une question sur notre service ?</p> 
                <p class="contact_content_txt">Intéressé pour devenir Daddy ?</p>
                <a href="mailto:daddy@contact.com" class="contact_content_link">Contactez nous</a>
                <a href="mailto:daddy@contact.com">
                    <img src="{{ asset('img/mail.png') }}" alt="mail" class="contact_mail_icon"/>
                </a>
            </div>
        </section>
        <footer>
            <div class="footer_content">
                <img src="{{ asset('img/logo.png') }}" alt="logo Daddy's PAck" class="footer_logo"/>
                <div class="footer_txt">
                    <a href="" class="footer_link link">Mentions&nbsp;légales</a>
                    <a href="mailto:daddy@contact.com" class="footer_link link" alt="contact">Contact</a>
                </div>
                <div class="footer_social">
                    <ul class="footer_social_list">
                        <li class="footer_social_list_item">
                            <a href="http://facebook.com" target="_blank" alt="facebook">
                                <img src="{{ asset('img/fb.svg') }}" alt="">
                            </a>
                        </li>
                        <li class="footer_social_list_item">
                            <a href="http://twitter.com" target="_blank" alt="twitter">
                                <img src="{{ asset('img/twitter.svg') }}" alt="">
                            </a>
                        </li>
                        <li class="footer_social_list_item">
                            <a href="http://linkedin.com" target="_blank" alt="linkedin">
                                <img src="{{ asset('img/ggplus.svg') }}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
